alias ..="cd .."
alias p="cd ~/Projects"
alias update="sudo apt update;sudo apt upgrade"
alias gbclean="git checkout master && git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d"
alias respawn_docker="docker-compose down && git pull --all && docker-compose up --build --detach"
alias sp="nvim ~/.scratchpad"
alias clips="trigger_clipboard_history_search"
alias brewup="brew update; brew upgrade; brew prune; brew cleanup; brew doctor"