# Set editor to nvim as nvim is AWESOME!!!
export EDITOR=nvim

EMPLOYER="jitfin"

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# NVM Configuration
export NVM_DIR="$HOME/.nvm"

# Generic Path additions
export PATH="$PATH:/home/bharatkalluri/.local/bin"

# Add Scripts to path
export PATH="$PATH:/home/bharatkalluri/scripts"

export LAMBDA_AWS_CREDS_FILE="$HOME/.aws/credentials"

export SSH_KEY_PATH="~/.ssh/rsa_id"

# Cargo
export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

# Spotify Creds
export SPOTIFY_ID='07d728d8751646219ab0532ca21ba982'
export SPOTIFY_SECRET='6ad82c4fd7cc498fbf738ea08f4135d3'

export SSH_KEY_PATH="~/.ssh/rsa_id"

export FZF_BASE="$HOME/.fzf"

# Anaconda
PATH="$HOME/miniconda3/bin:$PATH"
PATH="$HOME/anaconda3/bin:$PATH"

# Anaconda setup on mac
export PATH="/usr/local/anaconda3/bin:$PATH"

# Snapd
PATH="/var/lib/snapd/snap/bin:$PATH"

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'
export PATH="$PATH:$HOME/.fzf/bin"
export GOPATH=$HOME/go
export PATH="$PATH:$HOME/go/bin"

# Flutter
export PATH="$PATH:$HOME/Apps/flutter/bin"

# exports required for mac
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/bin:$PATH"

# Zplug
export ZPLUG_HOME="$HOME/.zplug"

# Poetry
export PATH="$HOME/.poetry/bin:$PATH"

# Ruby
export PATH="$PATH:$HOME/.rvm/bin"
