#!/bin/bash

# Organizes tagged mp3 files into album wise directories
organizeMusic() {
    for file in *.mp3; do
        IFS=$':'
        album="$(id3v2 -l "${file}" | grep "TALB" | cut -d ':' -f 2 | xargs)"
        [[ ! -d "${album}" ]] && mkdir -p "${album}"
        mv -f "${file}" "${album}"
    done
}

# Downloads a spotify album using spotdl
albumdl() {
    albumUrl=$1
    uuid=$(uuidgen)
    mkdir /tmp/${uuid}
    cd /tmp/${uuid}
    spotdl -b "${albumUrl}"
    spotdl -l *.txt
    cd
}

# Create a new directory and enter it
mc() {
    mkdir -p "$@" && cd "$@"
}

# Mutes audio if spotify ad is playing
mute_ad_spotify() {

    SPOTIFY_SINK_ID=$(pacmd list-sink-inputs | tr '\n' '\r' | perl -pe 's/ *index: ([0-9]+).+?application\.name = "([^\r]+)"\r.+?(?=index:|$)/\2:\1\r/g' | tr '\r' '\n' | grep spotify | cut -d ":" -f 2)

    if [ ! -z "$SPOTIFY_SINK_ID" ]; then
        MEDIA_TITLE=$(dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.freedesktop.DBus.Properties.Get string:org.mpris.MediaPlayer2.Player string:Metadata 2>/dev/null | sed -n '/title/{n;p}' | cut -d '"' -f 2)

        IS_SPOTIFY_AD=0
        [[ $MEDIA_TITLE == *Advertisement* ]] && IS_SPOTIFY_AD=1

        if [[ $IS_SPOTIFY_AD == 1 ]]; then
            pactl set-sink-input-mute ${SPOTIFY_SINK_ID} 1
        elif [[ $IS_SPOTIFY_AD == 0 ]]; then
            pactl set-sink-input-mute ${SPOTIFY_SINK_ID} 0
        fi
    fi

}
