# Organizes tagged mp3 files into album wise directories
organizeMusic() {
    for file in *.mp3; do
        IFS=$':'
        album="$(id3v2 -l "${file}" | grep "TALB" | cut -d ':' -f 2 | xargs)"
        [[ ! -d "${album}" ]] && mkdir -p "${album}"
        mv -f "${file}" "${album}"
    done
}

# Downloads a spotify album using spotdl
albumdl() {
    albumUrl=$1
    uuid=$(uuidgen)
    mkdir /tmp/${uuid}
    cd /tmp/${uuid}
    spotdl -b "${albumUrl}"
    spotdl -l *.txt
    cd
}

# Create a new directory and enter it
mc() {
    mkdir -p "$@" && cd "$@"
}

# Mutes audio if spotify ad is playing
mute_ad_spotify() {
    MEDIA_TITLE=$(dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.freedesktop.DBus.Properties.Get string:org.mpris.MediaPlayer2.Player string:Metadata 2>/dev/null | sed -n '/title/{n;p}' | cut -d '"' -f 2)

    IS_MUTE=0
    [[ $(amixer get Master | sed "5q;d") == *off* ]] && IS_MUTE=1

    IS_SPOTIFY_AD = 0
    [[ $MEDIA_TITLE == *Advertisement* ]] && IS_SPOTIFY_AD=1

    if [ ! -z "$MEDIA_TITLE" ]; then
        if [[ $IS_MUTE == 0 ]] && [[ $IS_SPOTIFY_AD == 1 ]]; then
            amixer -q -D pulse sset Master mute
        elif [[ $IS_MUTE == 1 ]] && [[ $IS_SPOTIFY_AD == 0 ]]; then
            # unmutes if mixer is muted and no ad is playing, this ensures that after ad the music will continue
            # But also this means that when spotify is playing, I cannot mute audio!
            amixer -q -D pulse sset Master unmute
        fi
    fi

}
